<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hot lines</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
</head>

<body>
    <!-- start menu-->
    <section class="menu_top">
        <div class="container">
            <div class="row">
                <div class=" col-xs-6 col-sm-6 col-md-3 ">
                    <span class="module_menu__menu_top__items"><img src="assets/images/icons/top_menu_phone.png" alt=""> 
                    <span> +7 (495) 788-16-32</span></span>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-3">
                    <span class="module_menu__menu_top__items"><img src="assets/images/icons/top_menu_mail.png" alt=""><span><a href="in@ihl.ru">in@ihl.ru</a></span></span>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-3">
                    <span class="module_menu__menu_top__items "><img src="assets/images/icons/top_menu_call.png" alt=""><span><a href="#">Заказать звонок</a></span></span>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-2 col-md-offset-1">
                    <span class="module_menu__menu_top__items"><img src="assets/images/icons/top_menu_language.png" alt=""><span><a href="#">English</a></span></span>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <nav class="navbar navbar-fixed-top  menu" id="nav_menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <i class="fa fa-bars fa-3x"></i>
                </button>
                <a class="navbar-brand navbar-brand-custom" href="index.html"><img id="logo" class="navbar__logo" src="assets/images/logo_menu.png" alt=""></a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-custom" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-nav-custom pull-right " id="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">О компании</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Тульский филиал</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Услуги </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"> Горячие линии со специалистами</a></li>
                            <li><a href="#">Виртуальный офис</a></li>
                            <li><a href="#">Приём заказов</a></li>
                            <li><a href="#">Поддержка рекламных акций</a></li>
                            <li><a href="#">Голосовые меню</a></li>
                            <li><a href="#">8-800</a></li>
                            <li><a href="#">Пример отчетности</a></li>
                            <li><a href="#">Телемаркетинг</a></li>
                            <li><a href="#">Актуализация баз данных</a></li>
                            <li><a href="#">Поиск новых клиентов</a></li>
                            <li><a href="#">Продажи по телефону</a></li>
                            <li><a href="#">Тесты телефонных служб</a></li>
                            <li><a href="#">Создание call-центров</a></li>
                            <li><a href="#">Для офисных (in-house) call-центров</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Аренда операторов</a></li>
                    <li><a href="#">Эксперты в call-центрах</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Карьера</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Карьера–Москва</a></li>
                            <li><a href="#">Карьера–Тула</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Контакты</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Контакты–Москва</a></li>
                            <li><a href="#">Контакты–Тула</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end menu-->
    <!-- start slider-->
    <section class=" home_img ">
    </section>
    <section class="module  about_us">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-sm-4 col-md-3 col-lg-3">
                    <ol class="breadcrumb">
                        <li><a href="#">Горячие линии </a></li>
                        <li class="active">О компании</li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1 ">
                    <h1 class="about_us__title title_size ">Call-центр «Горячие линии»</h1></div>
            </div>
            <div class="row">
                <div class="col-sx-12 col-sm-12 col-md-12  about_us__text ">
                    <h4>Основные преимущества нашего call-центра (колцентр):</h4>
                    <h5>1. Большой опыт выполнения самых разных проектов.</h5>
                    <p>С момента начала работы call-центра "Горячие линии" (с февраля 2001 года) мы реализовали в нашем call-центре более 1 700 проектов. Среди них - создание "с нуля" call-центра для оператора цифрового телевидения DIVO TV, горячая линия "Москвичам о переписи 2002", на которую поступало более 8.000 звонков в день и горячая линия сокового бренда, на которую приходило до 21.000 звонков в сутки, проект телемаркетинга по формированию базы данных 25.000 специалистов в области интерьера и дизайна по всей России и приглашению их на выставку "Expohabitat" организованную посольством Испании, и многие другие.</p>
                    <h4>2. Высокий профессионализм сотрудников и современнейшее оборудование контакт центра.</h4>
                    <p>
                        Являясь образцом профессионального контакт центра, контакт-центр "Горячие линии" регулярно используются в качестве демонстрационного зала для решения Cisco IP Contact Center Enterprise Edition и организованных с его помощью в нашем контакт-центре бизнес-процессов. Сотрудники нашего подразделения телемаркетинга с успехом выполняли и продолжают выполнять самые сложные телемаркетинговые проекты: от продажи высокотехнологичного оборудования в сфере B2B до телемаркетинга по клиентам ведущих банков.</p>
                    <h4>3. Открытость в работе - кол центр Горячие линии</h4>
                    <p>
                        При возможности мы предлагаем несколько вариантов реализации проекта в колл центре и предупреждаем о возможных "подводных камнях" ДО его начала. Вы можете контролировать ход работы нашего колл центра над Вашим проектом любым удобным Вам способом: по регулярным отчетам согласованного формата (в т.ч. и в режиме on-line на сайте нашего колл центра), выборочной проверкой итоговых результатов, а также личным присутствием в колл центре во время выполнения проекта. Все разговоры операторов колл центра записываются и привязываются к соответствующим записям базы данных, заполненных операторами.
                    </p>
                    <h4>4. Прозрачность ценообразования</h4>
                    <p>
                        Мы привязываем оплату наших услуг к получаемому Вами результату (1 минуте обработанного входящего вызова, 1 полностью заполненной анкете при опросе, 1 полностью заполненной записи в базе данных при актуализации и т.п.)
                    </p>
                    <h4>5. Индивидуальный подход</h4>
                    <p>
                        Исходя из нашего опыта, мы предложим Вам оптимальный вариант решения Вашей задачи. Кроме того, во время подготовки и реализации проекта Вам будет достаточно общаться только с одним нашим сотрудником. Этот менеджер будет полностью контролировать как выполнение поставленных задач с высоким качеством и в срок, так и подготовку всех сотрудников call-центра, занятых в проекте.
                        <br> На основе нашего опыта работы мы подготовили брошюру "Современный call-центр: взгляд изнутри и снаружи". Это своего рода "ликбез" о работе call-центров на примере работы аутсорсингового call-центра, но мы уверены что этот материал может быть полезен и работникам внутрикорпоративных call-центров, а также заказчикам. В течение первого месяца анонсирования этого материала на портале RBC c этой брошюрой ознакомилось более 45.000 специалистов в области маркетинга. Если Вы пришлете свои вопросы, мы отразим ответы на них в следующей редакции брошюры.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class=" module histori">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 ">
                    <h1 class=" histori__title title_size ">
              Наша история</h1></div>
            </div>
            <div class="row ">
                <div class="histori__control"> 

                    <!-- <div class="col-md-1"></div> -->
                    <div class="col-xs-4 col-sm-2 col-sm-offset-1 col-md-2 col-md-offset-1 z2"> <span id="sl_2001" class="histori__control__year-hover"><span class="histori__control__year">2001</span></span> </div>
                    <div class="col-xs-4 col-sm-2 col-md-2  z2"><span id="sl_2004" class="histori__control__year-hover"><span class="histori__control__year">2004</span></span> </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 z2"><span id="sl_2008" class="histori__control__year-hover"><span class="histori__control__year">2008</span></span> </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 z2"><span id="sl_2011" class="histori__control__year-hover"><span class="histori__control__year">2011</span></span> </div>
                    <div class="col-xs-4 col-sm-2 col-md-2 z2"><span id="sl_2015" class="histori__control__year-hover"><span class="histori__control__year">2015</span></span>
                    </div>
                    <div class="band z1 hidden-xs"></div>
                </div>
            </div>
        </div>
        <!-- container -->
        <div class="histori__slider" id="histori_carusel">
            <div class="item_2001 histori__slider__item ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4"><img class="histori__slider__img" src="assets/images/histori_slider/2011.jpg" alt=""></div>
                        <div class="col-sm-6  col-md-4">
                            <h6>2001</h6>
                            <p>В 2011 году команда call-центра «Горячие Линии» празднует юбилей и поздравляет с этим событием своих Клиентов и Партнёров. Вот уже 10 лет мы расширяем спектр услуг и постоянно совершенствуемся. Девиз этого года «Праздник длиною в год».</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <p class="pt-25"> А какой же праздник без приятных сюрпризов и подарков?! Мы хотим разделить эту радость и с вами, с нашими потенциальными Клиентами, так как уверены, что вы тоже любите праздники!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_2004 histori__slider__item ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4"><img class="histori__slider__img" src="assets/images/histori_slider/2011.jpg" alt=""></div>
                        <div class="col-sm-6  col-md-4">
                            <h6>2004</h6>
                            <p>В 2011 году команда call-центра «Горячие Линии» празднует юбилей и поздравляет с этим событием своих Клиентов и Партнёров. Вот уже 10 лет мы расширяем спектр услуг и постоянно совершенствуемся. Девиз этого года «Праздник длиною в год».</p>
                        </div>
                        <div class="col-sm-6  col-md-4">
                             <p class="pt-25">А какой же праздник без приятных сюрпризов и подарков?! Мы хотим разделить эту радость и с вами, с нашими потенциальными Клиентами, так как уверены, что вы тоже любите праздники!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_2008 histori__slider__item ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12  col-md-4"><img class="histori__slider__img" src="assets/images/histori_slider/2011.jpg" alt=""></div>
                        <div class="col-sm-6  col-md-4">
                            <h6>2008</h6>
                            <p>В 2011 году команда call-центра «Горячие Линии» празднует юбилей и поздравляет с этим событием своих Клиентов и Партнёров. Вот уже 10 лет мы расширяем спектр услуг и постоянно совершенствуемся. Девиз этого года «Праздник длиною в год».</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <p class="pt-25"> А какой же праздник без приятных сюрпризов и подарков?! Мы хотим разделить эту радость и с вами, с нашими потенциальными Клиентами, так как уверены, что вы тоже любите праздники!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_2011 histori__slider__item ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4"><img class="histori__slider__img" src="assets/images/histori_slider/2011.jpg" alt=""></div>
                        <div class="col-sm-6 col-md-4">
                            <h6>2011</h6>
                            <p>В 2011 году команда call-центра «Горячие Линии» празднует юбилей и поздравляет с этим событием своих Клиентов и Партнёров. Вот уже 10 лет мы расширяем спектр услуг и постоянно совершенствуемся. Девиз этого года «Праздник длиною в год».</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                             <p class="pt-25"> А какой же праздник без приятных сюрпризов и подарков?! Мы хотим разделить эту радость и с вами, с нашими потенциальными Клиентами, так как уверены, что вы тоже любите праздники!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item_2015 histori__slider__item ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-4"><img class="histori__slider__img" src="assets/images/histori_slider/2011.jpg" alt=""></div>
                        <div class="col-sm-6 col-md-4">
                            <h6>2015</h6>
                            <p>В 2011 году команда call-центра «Горячие Линии» празднует юбилей и поздравляет с этим событием своих Клиентов и Партнёров. Вот уже 10 лет мы расширяем спектр услуг и постоянно совершенствуемся. Девиз этого года «Праздник длиною в год».</p>
                        </div>
                        <div class="col-sm-6 col-md-4">
                             <p class="pt-25"> А какой же праздник без приятных сюрпризов и подарков?! Мы хотим разделить эту радость и с вами, с нашими потенциальными Клиентами, так как уверены, что вы тоже любите праздники!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module client">
        <div class="container">
            <div class="row">
                <h1 class="client__title title_size">Наши клиенты</h1>
            </div>
            <div class="row">
                <div class="client__carusel">
                    <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <img id="prev-sl" class="client__carusel__control-left " src="assets/images/service/left.png" alt="">
                    </div>
                    <div class="  col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <div id="client__carusel" class="your-class">
                            <div class="block_item">
                                <img src="assets/images/clients/cl1.png" alt="...">
                            </div>
                            <div class="block_item">
                                <img src="assets/images/clients/cl2.png" alt="...">
                            </div>
                            <div class="block_item">
                                <img src="assets/images/clients/cl3.png" alt="...">
                            </div>
                            <div class="block_item">
                                <img src="assets/images/clients/cl4.png" alt="...">
                            </div>
                            <div class="block_item">
                                <img src="assets/images/clients/cl5.png" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <img id="next-sl" class="client__carusel__control-right " src="assets/images/service/rigth.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2  footer__left col-sm-4 col-xs-12 ">
                    <div class="footer__menu">
                        <h5>Меню</h5>
                        <ul>
                            <li><a href="">О компаниии</a></li>
                            <li><a href="">Услуги</a></li>
                            <li><a href="">Аренда операторов</a></li>
                            <li><a href="">Карьера</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4  footer__left col-sm-8 col-xs-12 ">
                    <div class="footer__amenities footer__menu">
                        <h5>Услуги</h5>
                        <ul>
                            <li><a href="">Горячие линии со специалистами</a></li>
                            <li><a href="">Актуализация баз данных</a></li>
                            <li><a href="">Ддя офисных (in-house) call-центров</a></li>
                            <li><a href="">Поддержка рекламных акций</a></li>
                            <li><a href="">Поиск новых клиентов</a></li>
                            <li><a href="">Создание call-центров</a></li>
                            <li><a href="">Пример отчетности</a></li>
                        </ul>
                    </div>
                    <div class=" footer__menu footer__amenities-add ">
                        <h5> </h5>
                        <ul>
                            <li><a href="">Телемаркетинг</a></li>
                            <li><a href="">Виртуальный офис</a></li>
                            <li><a href="">Приём заказов</a></li>
                            <li><a href="">Голосовые меню</a></li>
                            <li><a href="">Продажи по телефону</a></li>
                            <li><a href="">Тесты телефонных служб</a></li>
                            <li><a href="">8-800</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footer__left col-sm-4 col-xs-6">
                    <div class="footer__menu ">
                        <h5>Контакты в москве</h5>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> 7-я Парковая дом 15, корп.2</li>
                            <li><i class="fa fa-phone"></i> +7 (495) 788-16-32</li>
                            <li> <i class="fa fa-desktop"></i>+7 (495) 788-16-30</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footer__left col-sm-6  col-xs-6 ">
                    <div class="footer__menu">
                        <h5>Контакты в Туле</h5>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> ул.Болдина, д.98, 6 этаж</li>
                            <li><i class="fa fa-phone"></i> +7 (4872) 25-12-43 </li>
                            <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8 (800) 555-11-98 - звонок для всех регионов России бесплатный</li>
                            <li><i class="fa fa-desktop"></i> +7 (495) 788-16-30</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-copirate">
        <div class="container">
            <div class="row">
                <div class="col-md-5  col-sm-10 col-xs-12 ">
                    © 2002-2015 call-центр «Горячие линии» – входит в MarketGroup
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade modal-form" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog ">
            <div class="modal-content modal-form__content">
                <div class="modal-header ">
                    <button type="button" id="myClose" class="close bnt-close" data-dismiss="modal" data-target="#myModal">&times;</button>
                    <h4 class="modal-title modal-form__title " id="myModalLabel">Обратный звонок</h4>
                </div>
                <div class="modal-body">
                    <div class="cotainer">
                        <form>
                            <div class="row">
                                <label class="col-sm-6 control-label">Тема</label>
                                <div class="col-sm-6">
                                    <select type="text" class="form-control" id="">
                                        <option>Выбери тему</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-6 control-label">ФИО</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-6 control-label">Контакный телефон</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-6 control-label">Сообщение</label>
                                <div class="col-sm-6 ">
                                    <textarea type="email" class="form-control" id="s" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <button class="btn btn-block modal-form__btn"> отправить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <p>Или Вы можете задать вопрос по e-mail: <a href="in@ihl.ru">in@ihl.ru</a> </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="assets/scripts/script.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        $('#histori_carusel').slick({
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            fade: true,
            arrows: false

        });

        $('#sl_2001').click(function() {
             $('#histori_carusel').slick('slickGoTo', "  0  ");
        });


        $('#sl_2004').click(function() {
            $('#histori_carusel').slick('slickGoTo', "   1  ");
        });
        $('#sl_2008').click(function() {
               $('#histori_carusel').slick('slickGoTo', "   2  ");
        });
        $('#sl_2011').click(function() {
              $('#histori_carusel').slick('slickGoTo', "   3  ");
        });
        $('#sl_2015').click(function() {
             $('#histori_carusel').slick('slickGoTo', "   4  ");
        });








        $('#client__carusel').slick({
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: "#prev-sl",
            nextArrow: "#next-sl",


            responsive: [{
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true

                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
    $(function() {
        $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top >= 1) {
                if ($(".menu").hasClass("menu_scroll") === false) {
                    $(".menu").addClass("menu_scroll");
                }



            } else {
                if ($(".menu").hasClass("menu_scroll") === true) {
                    $(".menu").removeClass("menu_scroll");
                }


            }
        });
    });


    // if ($(document).width() <= 993) {
    //     if ($(".navbar-collapse-custom").hasClass(".navbar-collapse-custom-min") === false) {
    //         $(".navbar-collapse-custom").addClass("navbar-collapse-custom-min");

    //     }
    // } else {
    //     if ($(".navbar-collapse-custom").hasClass(".navbar-collapse-custom-min") === true) {
    //         $(".navbar-collapse-custom").removeClass(".navbar-collapse-custom-min");
    //     }
    // }


    // $(window).resize(function() {

    //     if ($(document).width() <= 993) {
    //         if ($(".navbar-collapse-custom").hasClass(".navbar-collapse-custom-min") === false) {
    //             $(".navbar-collapse-custom").addClass("navbar-collapse-custom-min");
    //         }



    //     } else {
    //         if ($(".navbar-collapse-custom").hasClass(".navbar-collapse-custom-min") === true) {
    //             $(".navbar-collapse-custom").removeClass(".navbar-collapse-custom-min");
    //         }
    //     }

    // });
    </script>
    <!--   // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <!-- 
    prev-sl" src="assets/images/service/left.png" alt=""> 
        <img id="next-sl -->
</body>

</html>
