<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hot lines</title>
    <link rel="stylesheet" type="text/css" href="assets/styles/styles.css">
</head>

<body>
    <!-- start menu-->
    <section class="menu_top">
        <div class="container">
            <div class="row">
                <div class=" col-xs-6 col-sm-6 col-md-3 ">
                    <span class="module_menu__menu_top__items"><img src="assets/images/icons/top_menu_phone.png" alt=""> 
                    <span> +7 (495) 788-16-32</span></span>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-3">
                    <span class="module_menu__menu_top__items"><img src="assets/images/icons/top_menu_mail.png" alt=""><span><a href="in@ihl.ru">in@ihl.ru</a></span></span>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-3">
                    <span class="module_menu__menu_top__items "><img src="assets/images/icons/top_menu_call.png" alt=""><span><a href="#">Заказать звонок</a></span></span>
                </div>
                <div class=" col-xs-6 col-sm-6 col-md-2 col-md-offset-1">
                    <span class="module_menu__menu_top__items"><img src="assets/images/icons/top_menu_language.png" alt=""><span><a href="#">English</a></span></span>
                </div>
            </div>
        </div>
    </section>
    <!--  -->
    <nav class="navbar navbar-fixed-top  menu" id="nav_menu">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <i class="fa fa-bars fa-3x"></i>
                </button>
                <a class="navbar-brand navbar-brand-custom" href="index.html"><img id="logo" class="navbar__logo" src="assets/images/logo_menu.png" alt=""></a>
            </div>
            <div class="collapse navbar-collapse navbar-collapse-custom" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-nav-custom pull-right " id="nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">О компании</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Тульский филиал</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Услуги </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"> Горячие линии со специалистами</a></li>
                            <li><a href="#">Виртуальный офис</a></li>
                            <li><a href="#">Приём заказов</a></li>
                            <li><a href="#">Поддержка рекламных акций</a></li>
                            <li><a href="#">Голосовые меню</a></li>
                            <li><a href="#">8-800</a></li>
                            <li><a href="#">Пример отчетности</a></li>
                            <li><a href="#">Телемаркетинг</a></li>
                            <li><a href="#">Актуализация баз данных</a></li>
                            <li><a href="#">Поиск новых клиентов</a></li>
                            <li><a href="#">Продажи по телефону</a></li>
                            <li><a href="#">Тесты телефонных служб</a></li>
                            <li><a href="#">Создание call-центров</a></li>
                            <li><a href="#">Для офисных (in-house) call-центров</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Аренда операторов</a></li>
                    <li><a href="#">Эксперты в call-центрах</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Карьера</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Карьера–Москва</a></li>
                            <li><a href="#">Карьера–Тула</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Контакты</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Контакты–Москва</a></li>
                            <li><a href="#">Контакты–Тула</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- end menu-->
    <!-- start slider-->
    <section class="slider">
        <div id="carousel-main" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
                <li data-target="#carousel-main" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-main" data-slide-to="1"></li>
                <li data-target="#carousel-main" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="assets/images/slaider/sl1.jpg" alt="...">
                    <div class="carousel-caption slider__caption">
                        <div class="row">
                            <div class=" col-xs-12 col-sm-12 col-md-12">
                                <span class="slider__caption__number">45 </span> <span class="slider__caption__title"> сеансов  </span>
                                <br>
                                <span class="slider__caption__subtext">обработки звонков <br>
              одновременно</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3   col-md-4 col-md-offset-4 ">
                                <a href="#" class="bnt btn_red btn-block btn_slider ">Узнать больше...</a> </div>
                        </div>
                    </div>
                </div>
                <div class="item ">
                    <img src="assets/images/slaider/sl1.jpg" alt="...">
                    <div class="carousel-caption slider__caption">
                        <div class="row">
                            <div class=" col-xs-12 col-sm-12 col-md-12">
                                <span class="slider__caption__number">45 </span> <span class="slider__caption__title"> сеансов  </span>
                                <br>
                                <span class="slider__caption__subtext">обработки звонков <br>
              одновременно</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3   col-md-4 col-md-offset-4 ">
                                <a href="#" class="bnt btn_red btn-block btn_slider ">Узнать больше...</a> </div>
                        </div>
                    </div>
                </div>
                <div class="item ">
                    <img src="assets/images/slaider/sl1.jpg" alt="...">
                    <div class="carousel-caption slider__caption">
                        <div class="row">
                            <div class=" col-xs-12 col-sm-12 col-md-12">
                                <span class="slider__caption__number">45 </span> <span class="slider__caption__title"> сеансов  </span>
                                <br>
                                <span class="slider__caption__subtext">обработки звонков <br>
              одновременно</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class=" col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3   col-md-4 col-md-offset-4 ">
                                <a href="#" class="bnt btn_red btn-block btn_slider ">Узнать больше...</a> </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control slider__control" href="#carousel-main" role="button" data-slide="prev">
                <img src="assets/images/service/left.png" alt="">
            </a>
            <a class="right carousel-control slider__control" href="#carousel-main" role="button" data-slide="next">
                <img src="assets/images/service/rigth.png" alt="">
            </a>
        </div>
    </section>
    <!-- end red_section-->
    <!-- start red_section-->
    <section class="module action ">
        <div class="container">
            <div class="row">
                <h1 class="action__title title_size">Почему выбирают нас?</h1>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1  ">
                    <p class="action__sub_text text-center">Наше главное отличие — мы не просто обслуживаем звонки, мы используем весь опыт нашей группы компаний для достижения необходимого Вам качественного результата по прямым контактам с Вашей целевой аудиторией.</p>
                </div>
            </div>
            <div class="row">
                <div class="  col-xs-8 col-sm-6 col-sm-offset-1  col-md-4 col-md-offset-4  ">
                    <a href="#" class="bnt action__btn_blue btn-block">Узнать больше...</a>
                </div>
                <div class="col-xs-4 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-2  ">
                    <a href="#" id="call" data-toggle="modal" data-target="#myModal"><img class="call_back" src="assets/images/pop_up_back_call.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>
    <!-- end red_section-->
    <!-- start servise -->
    <section class=" module service">
        <div class="container">
            <div class="row">
                <h1 class="service__title title_size">Наши услуги</h1>
            </div>
            <div class="row">
                <div class="service__carusel">
                    <div class="  col-xs-1 col-sm-1 col-md-1">
                        <img id="prev-sl-serv" class="service__carusel__control-left " src="assets/images/service/left.png" alt="">
                    </div>
                    <div class="col-xs-10 col-sm-10 col-md-10  ">
                        <div id="service_carusel" class="your-class">
                            <div class="block_item">
                                <img src="assets/images/service/set1/icon_1.png" alt="...">
                                <span>Горячие линии со специалистами</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set1/icon_2.png" alt="...">
                                <span>Виртуальный офис</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set1/icon_3.png" alt="...">
                                <span>Приём заказов</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set1/icon_4.png" alt="...">
                                <span>Поддержка рекламных акций</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set1/icon_5.png" alt="...">
                                <span>Голосовые меню</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set2/icon1.png" alt="...">
                                <span>Телефонная линия 8-800</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set2/icon2.png" alt="...">
                                <span>Пример отчетности</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set2/icon3.png" alt="...">
                                <span>Телемаркетинг</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set2/icon4.png" alt="...">
                                <span>Актуализация баз данных</span>
                            </div>
                            <div class="block_item">
                                <img src="assets/images/service/set2/icon5.png" alt="...">
                                <span>Поиск новых клиентов</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1">
                        <img id="next-sl-serv" class="service__carusel__control-right " src="assets/images/service/rigth.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end servise -->
    <!-- start advantages-->
    <section class="module our_advantages">
        <div class="container-fluid ">
            <div class="row">
                <h1 class="our_advantages__title title_size">Наши преимущества</h1>
            </div>
            <div class="row opis ">
                <div class="opis-box box_1 col-xs-12 col-sm-12 col-md-6 col-lg-6  ">
                    <span class="opis-box__text">Круглосуточная поддержка клиентов</span>
                    <div class="fade-block">
                        <div class="bottom-align">
                            <p>Мы предлагаем возможность ежедневного круглосуточного обслуживания, а также обслуживание по стандартному графику с 9 до 21 часа.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="opis-box box_2 col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <span class="opis-box__text">Полный учет всех поступивших вызовов</span>
                    <div class="fade-block">
                        <div class="bottom-align">
                            <p>Нащи сотрудники ведут полный учёт всех поступивших вызовов, формализованную отчетность с предоставлением по электронной почте, факсу или в режиме on-line.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row opis ">
                <div class="opis-box box_3 col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <span class="opis-box__text">Многоканальное обслуживание</span>
                    <div class="fade-block">
                        <div class="bottom-align">
                            <p>Кроме ответов на телефонные звонки, такие специалисты могут отвечать на вопросы, поступающие по электронной почте, через контактные формы и так далее.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="opis-box box_4 col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <span class="opis-box__text">Горячие линии «Под ключ»</span>
                    <div class="fade-block">
                        <div class="bottom-align">
                            <p>Мы предоставляем как комплексные услуги по организации таких горячих линий "под ключ" (в частности, мы выполняли или продолжаем выполнять такие заказы для многих </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row opis ">
                <div class="opis-box box_5 col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <span class="opis-box__text">В режиме on–line</span>
                    <div class="fade-block">
                        <div class="bottom-align">
                            <p>Телемагазины, работающие в прямом эфире с обратной связью в режиме on-line. Если ведущий видит недостаточную активность покупателей, он вводит в действие новые предложения.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="opis-box box_6 col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
                    <span class="opis-box__text">Поддержка рекламных акций</span>
                    <div class="fade-block">
                        <div class="bottom-align">
                            <p>На время рекламной акции call-центр может подключить новые телефонные номера, для обслуживания звонков или использовать существующий номер Заказчика.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end advantages-->
    <section class="module client">
        <div class="container">
            <div class="row">
                <h1 class="client__title title_size">Наши клиенты</h1>
            </div>
            <div class="row">
                <div class="client__carusel">
                    <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <img id="prev-sl" class="client__carusel__control-left " src="assets/images/service/left.png" alt="">
                    </div>
                    <div class="  col-xs-10 col-sm-10 col-md-10 col-lg-10">
                        <div id="client__carusel" class="your-class">
                            <div class="block_item">
                                <img src="assets/images/clients/cl1.png" alt="...">
                            </div>
                            <div class="block_item">
                                <img src="assets/images/clients/cl2.png" alt="...">
                            </div>
                            <div class="block_item">
                                <img src="assets/images/clients/cl3.png" alt="...">
                            </div>
                            <div class="block_item">
                                <img src="assets/images/clients/cl4.png" alt="...">
                            </div>
                            <div class="block_item">
                                <img src="assets/images/clients/cl5.png" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class=" col-xs-1 col-sm-1 col-md-1 col-lg-1">
                        <img id="next-sl" class="client__carusel__control-right " src="assets/images/service/rigth.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="module call_back_form">
        <div class="container">
            <div class="row">
                <h1 class="call_back_form__title title_size">Отправить запрос на оказание услуг</h1>
            </div>
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-10   col-md-offset-1">
                    <form>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6 call_back_form__text">
                                <label for="exampleInputEmail1">Название компании*</label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 call_back_form__text">
                                <label for="exampleInputEmail1">Сфера деятельности</label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 call_back_form__text">
                                <label for="exampleInputEmail1">Должность</label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 call_back_form__text">
                                <label for="exampleInputEmail1">ФИО*</label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 call_back_form__text">
                                <label for="exampleInputEmail1">Город</label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6 call_back_form__text">
                                <label for="exampleInputEmail1">E-mail*</label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 call_back_form__text">
                                <label for="exampleInputEmail1">Номер телефона</label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 call_back_form__text">
                                <label for="exampleInputEmail1">Телефон (добавочный)</label>
                                <input type="email" class="form-control input-lg" id="exampleInputEmail1">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 call_back_form__text">
                                <label for="exampleInputEmail1">Сообщение*</label>
                                <textarea class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-sm-10 col-sm-offset-1 col-xs-12">
                                <a href="#" class="bnt call_back_form__btn btn_blue btn-block">Отправить</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="module footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2  footer__left col-sm-4 col-xs-12 ">
                    <div class="footer__menu">
                        <h5>Меню</h5>
                        <ul>
                            <li><a href="">О компаниии</a></li>
                            <li><a href="">Услуги</a></li>
                            <li><a href="">Аренда операторов</a></li>
                            <li><a href="">Карьера</a></li>
                            <li><a href="">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4  footer__left col-sm-8 col-xs-12 ">
                    <div class="footer__amenities footer__menu">
                        <h5>Услуги</h5>
                        <ul>
                            <li><a href="">Горячие линии со специалистами</a></li>
                            <li><a href="">Актуализация баз данных</a></li>
                            <li><a href="">Ддя офисных (in-house) call-центров</a></li>
                            <li><a href="">Поддержка рекламных акций</a></li>
                            <li><a href="">Поиск новых клиентов</a></li>
                            <li><a href="">Создание call-центров</a></li>
                            <li><a href="">Пример отчетности</a></li>
                        </ul>
                    </div>
                    <div class=" footer__menu footer__amenities-add ">
                        <h5> </h5>
                        <ul>
                            <li><a href="">Телемаркетинг</a></li>
                            <li><a href="">Виртуальный офис</a></li>
                            <li><a href="">Приём заказов</a></li>
                            <li><a href="">Голосовые меню</a></li>
                            <li><a href="">Продажи по телефону</a></li>
                            <li><a href="">Тесты телефонных служб</a></li>
                            <li><a href="">8-800</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footer__left col-sm-4 col-xs-6">
                    <div class="footer__menu ">
                        <h5>Контакты в москве</h5>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> 7-я Парковая дом 15, корп.2</li>
                            <li><i class="fa fa-phone"></i> +7 (495) 788-16-32</li>
                            <li> <i class="fa fa-desktop"></i>+7 (495) 788-16-30</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 footer__left col-sm-6  col-xs-6 ">
                    <div class="footer__menu">
                        <h5>Контакты в Туле</h5>
                        <ul>
                            <li><i class="fa fa-map-marker"></i> ул.Болдина, д.98, 6 этаж</li>
                            <li><i class="fa fa-phone"></i> +7 (4872) 25-12-43 </li>
                            <li><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 8 (800) 555-11-98 - звонок для всех регионов России бесплатный</li>
                            <li><i class="fa fa-desktop"></i> +7 (495) 788-16-30</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-copirate">
        <div class="container">
            <div class="row">
                <div class="col-md-5  col-sm-10 col-xs-12 ">
                    © 2002-2015 call-центр «Горячие линии» – входит в MarketGroup
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade modal-form" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog ">
            <div class="modal-content modal-form__content">
                <div class="modal-header ">
                    <button type="button" id="myClose" class="close bnt-close" data-dismiss="modal" data-target="#myModal">&times;</button>
                    <h4 class="modal-title modal-form__title " id="myModalLabel">Обратный звонок</h4>
                </div>
                <div class="modal-body">
                    <div class="cotainer">
                        <form>
                            <div class="row">
                                <label class="col-sm-6 control-label">Тема</label>
                                <div class="col-sm-6">
                                    <select type="text" class="form-control" id="">
                                        <option>Выбери тему</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-6 control-label">ФИО</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-6 control-label">Контакный телефон</label>
                                <div class="col-sm-6">
                                    <input type="email" class="form-control" id="">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-6 control-label">Сообщение</label>
                                <div class="col-sm-6 ">
                                    <textarea type="email" class="form-control" id="s" rows="3"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <button class="btn btn-block modal-form__btn"> отправить</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <p>Или Вы можете задать вопрос по e-mail: <a href="in@ihl.ru">in@ihl.ru</a> </p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script src="assets/scripts/script.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {

        $('#service_carusel').slick({
            infinite: true,
            speed: 300,
            slidesToShow: 5,
            slidesToScroll: 1,
            prevArrow: "#prev-sl-serv",
            nextArrow: "#next-sl-serv",
            responsive: [{
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true

                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });


        $('#client__carusel').slick({
            infinite: true,
            speed: 300,
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: "#prev-sl",
            nextArrow: "#next-sl",


            responsive: [{
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 1,
                        infinite: true

                    }
                }, {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
    $(function() {
        $(window).scroll(function() {
            var top = $(document).scrollTop();
            if (top >= 1) {
                if ($(".menu").hasClass("menu_scroll") === false) {
                    $(".menu").addClass("menu_scroll");
                }



            } else {
                if ($(".menu").hasClass("menu_scroll") === true) {
                    $(".menu").removeClass("menu_scroll");
                }


            }
        });
    });


    // if ($(document).width() <= 993) {
    //     if ($(".navbar-collapse-custom").hasClass(".navbar-collapse-custom-min") === false) {
    //         $(".navbar-collapse-custom").addClass("navbar-collapse-custom-min");

    //     }
    // } else {
    //     if ($(".navbar-collapse-custom").hasClass(".navbar-collapse-custom-min") === true) {
    //         $(".navbar-collapse-custom").removeClass(".navbar-collapse-custom-min");
    //     }
    // }


    // $(window).resize(function() {

    //     if ($(document).width() <= 993) {
    //         if ($(".navbar-collapse-custom").hasClass(".navbar-collapse-custom-min") === false) {
    //             $(".navbar-collapse-custom").addClass("navbar-collapse-custom-min");
    //         }



    //     } else {
    //         if ($(".navbar-collapse-custom").hasClass(".navbar-collapse-custom-min") === true) {
    //             $(".navbar-collapse-custom").removeClass(".navbar-collapse-custom-min");
    //         }
    //     }
    
    // });
    </script>
    <!--   // <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <!-- 
    prev-sl" src="assets/images/service/left.png" alt=""> 
        <img id="next-sl -->
</body>

</html>
